
.gitattributes
.vs/WordyPuzzles/FileContentIndex/1bc09f49-8e45-4a8b-9410-24b36ad1990b.vsidx
.vs/WordyPuzzles/project-colors.json
.vs/WordyPuzzles/v16/.suo
.vs/WordyPuzzles/v17/.suo
.vs/WordyPuzzles/v17/DocumentLayout.backup.json
.vs/WordyPuzzles/v17/DocumentLayout.json
App.config
bin/Debug/app.publish/WordyPuzzles.exe
bin/Debug/en-dictionary.db.old
bin/Debug/EntityFramework.dll
bin/Debug/EntityFramework.SqlServer.dll
bin/Debug/EntityFramework.SqlServer.xml
bin/Debug/EntityFramework.xml
bin/Debug/System.Data.SQLite.dll
bin/Debug/System.Data.SQLite.dll.config
bin/Debug/System.Data.SQLite.EF6.dll
bin/Debug/System.Data.SQLite.Linq.dll
bin/Debug/System.Data.SQLite.xml
bin/Debug/True
bin/Debug/WordyPuzzles.application
bin/Debug/WordyPuzzles.exe
bin/Debug/WordyPuzzles.exe.config
bin/Debug/WordyPuzzles.exe.manifest
bin/Debug/WordyPuzzles.pdb
bin/Debug/WordyPuzzles.xml
bin/Debug/x64/SQLite.Interop.dll
bin/Debug/x86/SQLite.Interop.dll
bin/Release/app.publish/WordyPuzzles.exe
bin/Release/EntityFramework.dll
bin/Release/EntityFramework.SqlServer.dll
bin/Release/EntityFramework.SqlServer.xml
bin/Release/EntityFramework.xml
bin/Release/System.Data.SQLite.dll
bin/Release/System.Data.SQLite.dll.config
bin/Release/System.Data.SQLite.EF6.dll
bin/Release/System.Data.SQLite.Linq.dll
bin/Release/System.Data.SQLite.xml
bin/Release/WordyPuzzles.application
bin/Release/WordyPuzzles.exe
bin/Release/WordyPuzzles.exe.config
bin/Release/WordyPuzzles.exe.manifest
bin/Release/WordyPuzzles.pdb
bin/Release/WordyPuzzles.xml
bin/Release/x64/SQLite.Interop.dll
bin/Release/x86/SQLite.Interop.dll
obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.vb
obj/Debug/build.force
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
obj/Debug/WordyPuzzles.application
obj/Debug/WordyPuzzles.exe
obj/Debug/WordyPuzzles.exe.manifest
obj/Debug/WordyPuzzles.Form1.resources
obj/Debug/WordyPuzzles.Form2.resources
obj/Debug/WordyPuzzles.pdb
obj/Debug/WordyPuzzles.Resources.resources
obj/Debug/WordyPuzzles.vbproj.AssemblyReference.cache
obj/Debug/WordyPuzzles.vbproj.CopyComplete
obj/Debug/WordyPuzzles.vbproj.CoreCompileInputs.cache
obj/Debug/WordyPuzzles.vbproj.FileListAbsolute.txt
obj/Debug/WordyPuzzles.vbproj.GenerateResource.cache
obj/Debug/WordyPuzzles.vbproj.SuggestedBindingRedirects.cache
obj/Debug/WordyPuzzles.xml
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.vb
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.vb
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/TempPE/My Project.Resources.Designer.vb.dll
obj/Release/WordyPuzzles.application
obj/Release/WordyPuzzles.exe
obj/Release/WordyPuzzles.exe.manifest
obj/Release/WordyPuzzles.Form1.resources
obj/Release/WordyPuzzles.Form2.resources
obj/Release/WordyPuzzles.pdb
obj/Release/WordyPuzzles.Resources.resources
obj/Release/WordyPuzzles.vbproj.AssemblyReference.cache
obj/Release/WordyPuzzles.vbproj.CopyComplete
obj/Release/WordyPuzzles.vbproj.CoreCompileInputs.cache
obj/Release/WordyPuzzles.vbproj.FileListAbsolute.txt
obj/Release/WordyPuzzles.vbproj.GenerateResource.cache
obj/Release/WordyPuzzles.vbproj.SuggestedBindingRedirects.cache
obj/Release/WordyPuzzles.xml
packages/EntityFramework.6.5.1/.signature.p7s
packages/EntityFramework.6.5.1/build/EntityFramework.DefaultItems.props
packages/EntityFramework.6.5.1/build/EntityFramework.props
packages/EntityFramework.6.5.1/build/EntityFramework.targets
packages/EntityFramework.6.5.1/build/Microsoft.Data.Entity.Build.Tasks.dll
packages/EntityFramework.6.5.1/build/net6.0/EntityFramework.props
packages/EntityFramework.6.5.1/build/net6.0/EntityFramework.targets
packages/EntityFramework.6.5.1/buildTransitive/EntityFramework.props
packages/EntityFramework.6.5.1/buildTransitive/EntityFramework.targets
packages/EntityFramework.6.5.1/buildTransitive/net6.0/EntityFramework.props
packages/EntityFramework.6.5.1/buildTransitive/net6.0/EntityFramework.targets
packages/EntityFramework.6.5.1/content/net40/App.config.install.xdt
packages/EntityFramework.6.5.1/content/net40/App.config.transform
packages/EntityFramework.6.5.1/content/net40/Web.config.install.xdt
packages/EntityFramework.6.5.1/content/net40/Web.config.transform
packages/EntityFramework.6.5.1/EntityFramework.6.5.1.nupkg
packages/EntityFramework.6.5.1/Icon.png
packages/EntityFramework.6.5.1/lib/net40/EntityFramework.dll
packages/EntityFramework.6.5.1/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.5.1/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.5.1/lib/net40/EntityFramework.xml
packages/EntityFramework.6.5.1/lib/net45/EntityFramework.dll
packages/EntityFramework.6.5.1/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.5.1/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.5.1/lib/net45/EntityFramework.xml
packages/EntityFramework.6.5.1/lib/netstandard2.1/EntityFramework.dll
packages/EntityFramework.6.5.1/lib/netstandard2.1/EntityFramework.SqlServer.dll
packages/EntityFramework.6.5.1/lib/netstandard2.1/EntityFramework.SqlServer.xml
packages/EntityFramework.6.5.1/lib/netstandard2.1/EntityFramework.xml
packages/EntityFramework.6.5.1/README.md
packages/EntityFramework.6.5.1/tools/about_EntityFramework6.help.txt
packages/EntityFramework.6.5.1/tools/EntityFramework6.PS2.psd1
packages/EntityFramework.6.5.1/tools/EntityFramework6.PS2.psm1
packages/EntityFramework.6.5.1/tools/EntityFramework6.psd1
packages/EntityFramework.6.5.1/tools/EntityFramework6.psm1
packages/EntityFramework.6.5.1/tools/init.ps1
packages/EntityFramework.6.5.1/tools/install.ps1
packages/EntityFramework.6.5.1/tools/net40/any/ef6.exe
packages/EntityFramework.6.5.1/tools/net40/any/ef6.pdb
packages/EntityFramework.6.5.1/tools/net40/win-arm64/ef6.exe
packages/EntityFramework.6.5.1/tools/net40/win-arm64/ef6.pdb
packages/EntityFramework.6.5.1/tools/net40/win-x86/ef6.exe
packages/EntityFramework.6.5.1/tools/net40/win-x86/ef6.pdb
packages/EntityFramework.6.5.1/tools/net45/any/ef6.exe
packages/EntityFramework.6.5.1/tools/net45/any/ef6.pdb
packages/EntityFramework.6.5.1/tools/net45/win-arm64/ef6.exe
packages/EntityFramework.6.5.1/tools/net45/win-arm64/ef6.pdb
packages/EntityFramework.6.5.1/tools/net45/win-x86/ef6.exe
packages/EntityFramework.6.5.1/tools/net45/win-x86/ef6.pdb
packages/EntityFramework.6.5.1/tools/net6.0/any/ef6.dll
packages/EntityFramework.6.5.1/tools/net6.0/any/ef6.pdb
packages/EntityFramework.6.5.1/tools/net6.0/any/ef6.runtimeconfig.json
packages/System.Data.SQLite.1.0.113.1/.signature.p7s
packages/System.Data.SQLite.1.0.113.1/System.Data.SQLite.1.0.113.1.nupkg
packages/System.Data.SQLite.Core.1.0.113.1/.signature.p7s
packages/System.Data.SQLite.Core.1.0.113.1/build/net20/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.113.1/build/net20/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net20/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net40/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.113.1/build/net40/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net40/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net45/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.113.1/build/net45/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net45/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net451/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.113.1/build/net451/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net451/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net46/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.113.1/build/net46/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/build/net46/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/lib/net20/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.113.1/lib/net20/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.113.1/lib/net20/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.113.1/lib/net40/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.113.1/lib/net40/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.113.1/lib/net40/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.113.1/lib/net45/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.113.1/lib/net45/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.113.1/lib/net45/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.113.1/lib/net451/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.113.1/lib/net451/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.113.1/lib/net451/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.113.1/lib/net46/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.113.1/lib/net46/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.113.1/lib/net46/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.113.1/lib/netstandard2.0/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.113.1/lib/netstandard2.0/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.113.1/lib/netstandard2.0/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.113.1/lib/netstandard2.1/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.113.1/lib/netstandard2.1/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.113.1/lib/netstandard2.1/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.113.1/runtimes/linux-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/runtimes/linux-x64/native/netstandard2.1/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/runtimes/osx-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/runtimes/osx-x64/native/netstandard2.1/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/runtimes/win-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/runtimes/win-x64/native/netstandard2.1/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/runtimes/win-x86/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/runtimes/win-x86/native/netstandard2.1/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.113.1/System.Data.SQLite.Core.1.0.113.1.nupkg
packages/System.Data.SQLite.EF6.1.0.113.0/.signature.p7s
packages/System.Data.SQLite.EF6.1.0.113.0/content/net40/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.113.0/content/net40/app.config.transform
packages/System.Data.SQLite.EF6.1.0.113.0/content/net40/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.113.0/content/net40/web.config.transform
packages/System.Data.SQLite.EF6.1.0.113.0/content/net45/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.113.0/content/net45/app.config.transform
packages/System.Data.SQLite.EF6.1.0.113.0/content/net45/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.113.0/content/net45/web.config.transform
packages/System.Data.SQLite.EF6.1.0.113.0/content/net451/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.113.0/content/net451/app.config.transform
packages/System.Data.SQLite.EF6.1.0.113.0/content/net451/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.113.0/content/net451/web.config.transform
packages/System.Data.SQLite.EF6.1.0.113.0/content/net46/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.113.0/content/net46/app.config.transform
packages/System.Data.SQLite.EF6.1.0.113.0/content/net46/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.113.0/content/net46/web.config.transform
packages/System.Data.SQLite.EF6.1.0.113.0/lib/net40/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.113.0/lib/net45/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.113.0/lib/net451/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.113.0/lib/net46/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.113.0/lib/netstandard2.1/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.113.0/System.Data.SQLite.EF6.1.0.113.0.nupkg
packages/System.Data.SQLite.EF6.1.0.113.0/tools/net40/install.ps1
packages/System.Data.SQLite.EF6.1.0.113.0/tools/net45/install.ps1
packages/System.Data.SQLite.EF6.1.0.113.0/tools/net451/install.ps1
packages/System.Data.SQLite.EF6.1.0.113.0/tools/net46/install.ps1
packages/System.Data.SQLite.Linq.1.0.113.0/.signature.p7s
packages/System.Data.SQLite.Linq.1.0.113.0/content/net20/app.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net20/web.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net40/app.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net40/web.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net45/app.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net45/web.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net451/app.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net451/web.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net46/app.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/content/net46/web.config.transform
packages/System.Data.SQLite.Linq.1.0.113.0/lib/net20/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.113.0/lib/net40/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.113.0/lib/net45/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.113.0/lib/net451/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.113.0/lib/net46/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.113.0/System.Data.SQLite.Linq.1.0.113.0.nupkg
WordyPuzzles_TemporaryKey.pfx
